@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Employee
<div>
    <h2>Result:</h2>
</div>
<hr />
<br/>
<br/>
<div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Domain</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
 
  <tr>
      <th scope="row">@Model.Id</th>
      <td>@Model.Name</td>
      <td>@Model.Age</td>
      <td>@Model.Domain</td>
      <td>@Model.Email</td>
    </tr>
  
  </tbody>
</table>
    
</div>